In [5]:
age = int(input("Enter your age: "));
#Indentation: Space dena after if
if age >= 18 :
  print("allowed to ride")
else :
  print("not allowed")

Enter your age: 19
allowed to ride

In [8]:
x = 10;
y= 12;
a=30;
b=10;

#if x+y == a-b :
if x+y != a-b :
    print("your answer is correct")
else :
    print("Wrong answer")

your answer is correct

In [11]:
#elif means else if and it is use for more than 2 conditions
per = int(input("Enter your percentage %: "));
if per >= 80 and per <= 100 :
    print("A+")
elif per >= 70 and per < 80 :
    print("A")
elif per >= 60 and per <70 :
    print("B")
elif per >= 0 and per < 60 :
    print("Fail")
else :
    print("You have given inappropiate percentage")

Enter your percentage %: 75
A

In [12]:
a=5;
b=6;
c=7;
d=7;
e=9;
g=10;
f=11;
x=11;
y=12;
h=0;

if c==d:
    if x==y:
        g=h
        print(g)
    elif a==b:
        g=h
        print(g)
    else:
        e=f
        print(e)
else:
    e=f
    print(e)

11

In [13]:
arr = ["Ali","Haider","Salman",25,False,0.9] #group of different elements
print(arr)

['Ali', 'Haider', 'Salman', 25, False, 0.9]

In [14]:
print(arr[1])

Haider

In [15]:
print(arr[3])

25

In [16]:
arr[0]

'Ali'

In [17]:
arr.append("Umar")
arr

['Ali', 'Haider', 'Salman', 25, False, 0.9, 'Umar']

In [19]:
arr1= arr + ["Bilal" , "Noman"]
print(arr1)

['Ali', 'Haider', 'Salman', 25, False, 0.9, 'Umar', 'Bilal', 'Noman']

In [20]:
arr1.insert(2, "Raza")
print(arr1)

['Ali', 'Haider', 'Raza', 'Salman', 25, False, 0.9, 'Umar', 'Bilal', 'Noman']

In [21]:
arr1[5]= True
print(arr1)

['Ali', 'Haider', 'Raza', 'Salman', 25, True, 0.9, 'Umar', 'Bilal', 'Noman']

In [22]:
arr2= arr1[2 : 7]   #starts at 2 and ends at 6(n-1)
print(arr2)

['Raza', 'Salman', 25, True, 0.9]

In [23]:
arr1

['Ali', 'Haider', 'Raza', 'Salman', 25, True, 0.9, 'Umar', 'Bilal', 'Noman']

In [24]:
arr3= arr[:5]
print(arr3)

['Ali', 'Haider', 'Salman', 25, False]

In [25]:
arr

['Ali', 'Haider', 'Salman', 25, False, 0.9, 'Umar']

In [26]:
del arr[1]
print(arr)

['Ali', 'Salman', 25, False, 0.9, 'Umar']

In [27]:
arr.remove("Salman")
print(arr)

['Ali', 25, False, 0.9, 'Umar']

In [28]:
arr4 = arr.pop()   #End ka element utha k le ata ha
print(arr4)

Umar