In [1]:
tuplee = ('Marium', 'Hamza', 'Asad')
print(tuplee)

('Marium', 'Hamza', 'Asad')

In [5]:
tuplee[1]= 'Hina'

TypeError: 'tuple' object does not support item assignment

In [6]:
print(tuplee)        #Hence it can be seen that the values of tuple cannot be change. that's the main diff b/w list and tuple
#List can be editable but tuple cannot be editable

('Marium', 'Hamza', 'Asad')

In [7]:
tuplee[0]

'Marium'

In [ ]:
value1= int(input("Enter first operand: "))
value2= int(input("Enter second operand: "))
operator= input("Enter the operation which you want to perform on these two operands: ")

if operator == "+" :
    answer= value1 + value2
    #print("{0} + {1} = {2}", value1, value2, answer)
    print(value1, "+", value2, "=", answer)
    
elif operator == "-" :
    answer= value1 - value2
    print(value1, "-", value2, "=", answer)
    
elif operator == "*" :
    answer= value1 * value2
    print(value1, "*", value2, "=", answer)
    
elif operator == "/" :
    answer= value1 / value2
    print(value1, "/", value2, "=", answer)

else :
    print("You have entered the incorrect operator. Please re-enter the operator")
    operator= input("Enter the operation which you want to perform on these two operands: ")

if operator == "+" :
    answer= value1 + value2
    #print("{0} + {1} = {2}", value1, value2, answer)
    print(value1, "+", value2, "=", answer)
    
elif operator == "-" :
    answer= value1 - value2
    print(value1, "-", value2, "=", answer)
    
elif operator == "*" :
    answer= value1 * value2
    print(value1, "*", value2, "=", answer)
    
elif operator == "/" :
    answer= value1 / value2
    print(value1, "/", value2, "=", answer)

In [19]:
#for loop is used in list in python         #slice method

cleanest_cities = ["Isl", "Karachi", "Fsd", "Lhr"]

for a_clean_city in cleanest_cities :
    print(a_clean_city)

Isl
Karachi
Fsd
Lhr

In [27]:
cleanest_cities = ["Isl", "Karachi", "Fsd", "Lhr"]

value= input("Enter city")

for i in cleanest_cities :
    if value == i :
        print("this is the cleanest city")
        break
    else :
        print("this is not the cleanest city")
        #break
        
        #assignment: To search for the code and write it in a single line

Enter cityLhr
this is not the cleanest city
this is not the cleanest city
this is not the cleanest city
this is the cleanest city

In [28]:
#python is a interpreted language
#for is used for repetition of the values
#for single value you can use index value
#but for whole list you use for loop

In [29]:
first_names = ["Asad", "Hamza", "Marium", "Ali"]
last_names = ["Arif", "Hina", "Khan"]
full_names = []

for a in first_names : #outer for loop
    for b in last_names : #inner for loop
        full_names.append(a + " " + b)
        print(full_names)

['Asad Arif']
['Asad Arif', 'Asad Hina']
['Asad Arif', 'Asad Hina', 'Asad Khan']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina', 'Hamza Khan']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina', 'Hamza Khan', 'Marium Arif']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina', 'Hamza Khan', 'Marium Arif', 'Marium Hina']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina', 'Hamza Khan', 'Marium Arif', 'Marium Hina', 'Marium Khan']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina', 'Hamza Khan', 'Marium Arif', 'Marium Hina', 'Marium Khan', 'Ali Arif']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina', 'Hamza Khan', 'Marium Arif', 'Marium Hina', 'Marium Khan', 'Ali Arif', 'Ali Hina']
['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina', 'Hamza Khan', 'Marium Arif', 'Marium Hina', 'Marium Khan', 'Ali Arif', 'Ali Hina', 'Ali Khan']

In [30]:
first_names = ["Asad", "Hamza", "Marium", "Ali"]
last_names = ["Arif", "Hina", "Khan"]
full_names = []

for a in first_names : 
    for b in last_names : 
        full_names.append(a + " " + b)
print(full_names)

['Asad Arif', 'Asad Hina', 'Asad Khan', 'Hamza Arif', 'Hamza Hina', 'Hamza Khan', 'Marium Arif', 'Marium Hina', 'Marium Khan', 'Ali Arif', 'Ali Hina', 'Ali Khan']

In [31]:
#In above two examples see the difference of indentation :)

In [32]:
a = 10
b = float(a)
print(b)

10.0

In [33]:
a = 10
b = str(a)
c = 15
d = b + c
print(d)

TypeError: can only concatenate str (not "int") to str

In [38]:
a = 'mariuM'
print(a.upper())

MARIUM

In [37]:
a = 'MARiUM'
print(a.lower())

marium

In [36]:
a = 'marIum'
print(a.title())

Marium

In [41]:
#Dictionary     #Quiz App is made on dictionary (in next lec we'll make quiz application)
#objects = property and its value
# A car whose color is blue
#Color is the "PROPERTY" of that car and blue is "VALUE" that property
#Means color is KEY and blue is its value

#List starts with square bracket and dictionary starts with curly brackets
#In list we separate the values by commas, but in dictionary we separate the key and the value associated with that key with commas

In [45]:
customer_001 = {
    "first name" : "David",
    "last name" : "John",
    "address" : "Block-10, flat-no 10 Wellesly Street"
}
print(customer_001["address"])

Block-10, flat-no 10 Wellesly Street

In [46]:
rankings = {5: "Finland", 2:"Norway", 3: "Sweden", 7:"Iceland"}
print(rankings[5])

Finland

In [47]:
customer_001 = {
    "first name" : "David",
    "last name" : "John",
    "address" : "Block-10, flat-no 10 Wellesly Street"
}
customer_001["address"]='Karachi'
print(customer_001)

{'first name': 'David', 'last name': 'John', 'address': 'Karachi'}

In [48]:
customer_001 = {
    "first name" : "David",
    "last name" : "John",
    "address" : "Block-10, flat-no 10 Wellesly Street"
}
customer_001["language"]='English'
print(customer_001)

{'first name': 'David', 'last name': 'John', 'address': 'Block-10, flat-no 10 Wellesly Street', 'language': 'English'}

In [49]:
del customer_001['address']
print(customer_001)

{'first name': 'David', 'last name': 'John', 'language': 'English'}

In [52]:
for each_key in customer_001.keys() :
    print(each_key, 'Keys')
for each_value in customer_001.values() :
    print(each_value, 'Values')

first name Keys
last name Keys
language Keys
David Values
John Values
English Values

In [56]:
for each_key, each_value in customer_001.items() :
    print("The customer's "+ each_key + " is " + each_value)

The customer's first name is David
The customer's last name is John
The customer's language is English